/*==================
= CUSTOM VARIABLES =
==================*/

/* Colours */
:root {
	--black: #000000;
	--dark-grey: #0a0a0a;	
	--bright-green: #00FF00;
	--mild-green: #009900;
	--testing: #FF00C8;
}

/* Fonts */
:root {
	--main-font: Fira Code;
}

/*===========
= WORKSPACE =
===========*/

/* Background Colours */
.theme-dark,
.theme-light {
	--background-primary: var(--black);
	--background-primary-alt: var(--black);
	--background-secondary: var(--black);
	--background-secondary-alt: var(--black);
	--code-background: var(--dark-grey);
}

/* Backlink Status Bar */
div.status-bar {
	display: none;
}

/* Fonts */
:root {
	--default-font: var(--main-font);
	--font-monospace: var(--main-font);
}

/* Resize Handle */
hr.workspace-leaf-resize-handle {
	border-color: var(--mild-green);
}
/* Ribbon */
div.workspace-ribbon {
	display: none;
}

/* Titlebar */
div.titlebar-inner,
div.workspace-tab-header-container {
	display: none;
}

/*================
= DIRECTORY TREE =
================*/

/* New Note/Folder, Sort Order & Collapse/Exapnd Buttons */
div.workspace-leaf-content > div.nav-header {
	display: none;
}

/* Vault Name */
div.tree-item.nav-folder.mod-root > div.tree-item-self.nav-folder-title {
	display: none;
}

/*=====
= TAB =
=====*/

/* Graph Nodes */
.theme-dark,
.theme-light {
	--graph-node-focused: var(--bright-green);
}

/* Graph Control Buttons */
div.graph-controls,
div.clickable-icon.graph-controls-button.mod-open,
div.clickable-icon.graph-controls-button.mod-animate {
	display: none;
}

/* Lines */
:root {
	--line-height-normal: 1;
}

/* Previous/Next Buttons */
div.view-header-nav-buttons {
	display: none;
}

/* Properties */
div.metadata-properties-heading {
	display: none;
}

/* Scrollbars */
::-webkit-scrollbar {
	display: none;
}

/* Title */
div.view-header-title,
div.view-header-title-parent {
	color: var(--mild-green);
}

.is-focused .workspace-leaf.mod-active .view-header-title {
    color: var(--bright-green);
}

/* View Action Buttons */
div.view-actions,
a.clickable-icon.view-action {
	display: none;
}