/*==================
= CUSTOM VARIABLES =
==================*/
:root {
	--compressed-red: rgb(150, 0, 0);
	--device-yellow: rgb(200, 200, 0);
	--directory-blue: rgb(0, 130, 255);
	--generic-white: rgb(200, 200, 200);
	--hidden-grey: rgb(100, 100, 100);
	--interface-green: rgb(0, 150, 0);
	--multimedia-magenta: rgb(150, 0, 150);
	--symlink-cyan: rgb(0, 255, 255);

	--testing: rgb(255, 0, 255);
}

/*============
= BACKGROUND =
============*/
body, .theme-dark {
	/* 
	- Note
	- Settings right panel
	*/
	--background-primary: black;
	
	/*
	- Navigation
	- Graph
	- Settings left panel
	- Sidebar
	*/
	--background-secondary: black;
	
	/*
	- Metadata add property button
	- Metadata hovered property
	- Navigation item extension
	- Navigation active/hovered item
	- Sidebar hovered item
	- Settings hovered item
	*/
	--background-modifier-hover: black;
	
	/*
	- Divider
	- Horizontal line
	- Metadata property border
	- Navigation menu item separator
	- Table border
	--background-modifier-border: var(--interface-green);
	*/

	/*
	- Navigation note selector
	--background-modifier-border-focus: var(--interface-green);
	*/
	
	/*
	- Delete file modal delete button
	- Settingss account log out
	- Settings hotkey conflicts
	--background-modifier-error: var(--red-100);
	--background-modifier-error-hover: var(--red-100);
	*/
	
	/*
	- Form
	--background-modifier-form-field: black;
	*/
}

/* Inline code fills the whole table cell */
.table-cell-wrapper:has(code:only-child) {
	background-color: var(--background-primary-alt);
}

/*=========
= BORDERS =
=========*/
body, .theme-dark {
	--border-width: 2px;
	--button-radius: 0;
	--file-margins: 15px;
	--input-radius: 0;
	--metadata-property-radius: 0;
	--radius-s: 0;
	--radius-m: 0;
	--radius-l: 0;
	--radius-xl: 0;
}

/*========
= BUTTON =
========*/

/* Logout */
button.mod-destructive {
	color: var(--text-normal);
}

/*
- Logout
- Delete note
*/
button.mod-destructive:focus-visible,
button.mod-warning:focus-visible {
	box-shadow: 0 0 0 var(--border-width) var(--compressed-red);
}

/*=======
= CARET =
=======*/
body, .theme-dark {
	--caret-color: var(--interface-green);
}

/*=======
= GRAPH =
=======*/
body, .theme-dark {
	--graph-line: var(--hidden-grey);
	--graph-node: var(--generic-white);
	--graph-node-attachment: var(--multimedia-magenta);
	--graph-node-focused: var(--interface-green);
	--graph-node-tag: var(--symlink-cyan);
	--graph-node-unresolved: var(--compressed-red);
}

/*======
= MENU =
======*/

/* Drop down menu selector */
.menu-item.tappable.selected::before {
	content: ">";
	color: var(--interface-green);
	font-weight: bold;
	position: relative;
	left: -5px;
	z-index: 1;
}

/*============
= NAVIGATION =
============*/

/* Generic file title */
.nav-file-title-content {
	color: var(--generic-white);
}

/* Multimedia file title */
.nav-file-tag {
	color: var(--multimedia-magenta);
}

/* Directory title */
.nav-folder-title-content {
	color: var(--directory-blue);
}

/* Directory tree display */
.nav-files-container {
	padding-left: 0 0 0 5px;
}

.tree-item-self.mod-collapsible,
.tree-item-self.nav-file-title {
	padding: unset;
}

/* Top structure */
.tree-item-inner.nav-folder-title-content::before {
	content: "├─";
	color: var(--generic-white);
}

.nav-folder-title-content::after {
	content: "/";
	color: var(--directory-blue);
}

.tree-item.nav-file > div::before {
	content: "├─";
	color: var(--generic-white);
}

.tree-item.nav-file:last-child > div::before {
	content: "└─";
	color: var(--generic-white);
}

/*=======
= NOTES =
=======*/

/* Active title */
.workspace-leaf.mod-active > .workspace-leaf-content > .view-header > div > .view-header-title {
	color: var(--interface-green);
}

/*========
= PROMPT =
========*/
body, .theme-dark {
	--prompt-border-color: var(--interface-green);
	--prompt-width: 99.5%;
	--prompt-max-width: 99.5%;
	--prompt-height: 100%;
	--prompt-max-height: 400px;
}

.prompt {
	border-radius: 0%;
	position: absolute;
	top: 5px;
	left: 5px;
}

input.prompt-input, input.prompt-input:hover, input.prompt-input:focus, input.prompt-input:focus-visible {
	color: var(--green-150);
	border-bottom: var(--border-width) solid var(--interface-green);
}

/* Make the placeholder have the same colour as the background */
input.prompt-input::placeholder {
	color: var(--background-primary);
}

/* Place a "$" in front of the command palette input */
.prompt:has(div > input[placeholder="Select a command..."])::before {
	content: "$";
	color: var(--interface-green);
	position: absolute;
	top: 15px;
	left: 12px;
	z-index: 1;
}

/* Place a "/" in front of the quick switcher input */
.prompt:has(div > input[placeholder="Find or create a note..."])::before {
	content: "/";
	color: var(--interface-green);
	position: absolute;
	top: 15px;
	left: 15px;
	z-index: 1;
}

/* Place a ">" in front of the selected suggestion */
.suggestion-item.is-selected::before {
	content: ">";
	color: var(--interface-green);
	font-weight: bold;
	position: relative;
	left: -5px;
	z-index: 1;
}

/* Prompt result suggestion highlight */
span.suggestion-highlight {
	color: var(--interface-green);
}

/*=========
= SIDEBAR =
=========*/

/* Tag pane padding */
.tag-container.node-insert-event {
	padding: unset;
}

.tag-container.node-insert-event > div > .tree-item > .tree-item-self.tag-pane-tag.tree-item-self {
	padding: 5px 10px 0 10px;
}

/*======================================================================================
= HIDDEN COMPONENTS ====================================================================
======================================================================================*/

/* Backlink status bar */
.status-bar,

/* Graph control buttonss */
.graph-controls, .clickable-icon.graph-controls-button.mod-open, .clickable-icon.graph-controls-button.mod-animate,

/* Menu item icons */
.menu-item-icon:not(.mod-submenu),

/* Metadata "Properties" */
.metadata-properties-heading,

/* Metadata property icons */
.metadata-property-icon, .multi-select-pill-remove-button, .text-icon-button .text-button-icon,

/* Modal close button */
.modal-close-button,

/* Navigation buttons */
.nav-header,

/* Navigation collapse SVG icon indicator */
.tree-item-icon.collapse-icon.nav-folder-collapse-indicator,

/* Note view buttons */
.view-actions, a.clickable-icon.view-action, .view-header-title-container.mod-at-start.mod-fade::after,

/* Previous & next buttons */
.view-header-nav-buttons,

/* Prompt instructions */
.prompt-instructions,

/* Ribbon */
.workspace-ribbon,

/* Scrollbars */
::-webkit-scrollbar,

/* Search icons*/
.input-right-decorator.clickable-icon, .more-options-icon, .search-input-clear-button, .search-input-container:before, .search-row .clickable-icon, .search-results-info .dropdown,

/* Settings outgoing help links */
.modal-container.mod-dim > .modal.mod-settings.mod-sidebar-layout > .modal-content.vertical-tabs-container > .vertical-tab-content-container > div > div > .setting-item-info > .setting-item-description > a,

/* Tab Headers */
.workspace-tab-header-container,

/* Titlebar */
.titlebar-inner,

/* Vault manager */
.workspace-split.mod-horizontal.mod-sidedock.mod-left-split > .workspace-sidedock-vault-profile {
	display:none;
}